
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    background-color:/*rgba(182, 130, 197,0.8)*/rgba(151, 88, 210, 0.906);
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }