<div id="centre"> 
    <!-- debut tab -->
    <div id="tableau">

     <h1>PAIEMENT DE FACTURE</h1>
     <hr />
     <div>
       <div class="example-button-row">
         <button  class="btn-tab" mat-button>LISTE DES CREANCIERS</button>  
         <div class="row">
           <div class="case" >
             <div class="row">
               <div class="col-6 img">
                 <img class="img" src="../../../assets/maroc-telecom.jpg">
               </div>
               <div class="col-6">
                 <a routerLink="/home/paiement/form"><h2 class="nom-creancier">IAM FACTURES</h2></a>
                 
                 </div>
               </div>
             </div>
           </div>
           <div class="row">
            <div class="case" >
              <div class="row">
                <div class="col-6 img">
                  <img class="img" src="../../../assets/maroc-telecom.jpg">
                </div>
                <div class="col-6">
                    <a routerLink="/home/paiement/form"><h2 class="nom-creancier">IAM RECHARGES</h2></a>
                 
                </div>
              </div>
            </div>
           
          
           <div class="col-6 box"class="case">
             <div class="row">
               <div class="col-6 img">
                 <img class="img" src="../../../assets/REDAL.jpg">
               </div>
               <div class="col-6">
                <a routerLink="/home/paiement/form"><h2 class="nom-creancier">REDAL</h2></a>
                
               </div>
             </div>
           </div>
           <div class="case">
             <div class="row">
               <div class="col-6 img">
                 <img class="img" src="../../../assets/amendis.png">
               </div>
               <div class="col-6">
                <a routerLink="/home/paiement/form">  <h2 class="nom-creancier">AMENDIS</h2> </a>
                 
               </div>
             </div>
           </div>
          
         </div>
   

     </div>
   <!-- fin tab -->

     
   </div>